<form class="form-inline">
  <div class="form-group mb-2">
    <input type="text" class="form-control mr-2" placeholder="buscar">
    <button class="btn btn-outline-success">buscar</button>
  </div>
</form>

<table class="table table-striped">
  <thead class="thead-dark">
  <tr>
    <th>#</th>
    <th>Tema</th>
    <th>Local</th>
    <th>Data</th>
    <th>Qtd Pessoas</th>
    <th>Lote</th>
    <th>Opções</th>
  </tr>
</thead>
<tbody *ngIf="eventos != null && eventos.length">
  <tr *ngFor="let evento of eventos">
    <td>{{evento.eventoID}}</td>
    <td>{{evento.tema}}</td>
    <td>{{evento.local}}</td>
    <td>{{evento.dataEvento}}</td>
    <td>{{evento.qntPessoas}}</td>
    <td>{{evento.lote}}</td>
    <td>
      <button class="btn btn-outline-success"></button>
      <button class="btn btn-outline-danger"></button>
    </td>
  </tr>
</tbody>
<tfoot *ngIf="!eventos.length">
  <tr>
    <td colspan="4" class="text-center"></td>
    <h4>
      Nenhum evento encontrato!
    </h4>
  </tr>
</tfoot>
</table>
